* {
	background-color: #000080;
	color: #008000;
	text-align: center;
}

h1 {
	font-family: cursive;
	font-weight: bold;
}
h2,
p {
	font-family: sans-serif;
}

table {
	table-layout: fixed;
	width: 100%;
	border: 1px, solid, black;
}

table, th, td {
	border:  1px solid #800000;
	font-size: 20px;
	font-family: "Times New Roman";
	background-color: #000000;
}
